@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-i49yna');
	src:url('fonts/icomoon.eot?#iefix-i49yna') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-i49yna') format('truetype'),
		url('fonts/icomoon.woff?-i49yna') format('woff'),
		url('fonts/icomoon.svg?-i49yna#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-finalmenitiesicons:before {
	
}
